{block content}
    <h1>Ověření karty</h1>
    <form method="post" action="{link Card:result}">
        <label for="cardNumber">číslo karty</label>
        <input type="text" id="cardNumber" name="cardNumber" required>
        <input type="submit">
    </form>
{/block}